{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Adress</label>
        <input 
        type="email"
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email"/> <!--One needs to define a name and id because this is what represents the information when sending to backend, make sure to define name and ID!-->
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
        type="text"
        class="form-control" 
        id="firstName" 
        name="firstName" 
        placeholder="Enter first name"/> <!--One needs to define a name and id because this is what represents the information when sending to backend, make sure to define name and ID!-->
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input 
        type="password"
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Enter password"/> <!--One needs to define a name and id because this is what represents the information when sending to backend, make sure to define name and ID!-->
    </div>
    <div class="form-group">
        <label for="password2">Password</label>
        <input 
        type="password"
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm password"/> <!--One needs to define a name and id because this is what represents the information when sending to backend, make sure to define name and ID!-->
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

